<%- include('../partials/header', { title: 'Add Movie', session }) %>

<h1>Submit new Movie</h1>
<form action="/movies/add" enctype="multipart/form-data" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title" aria-describedby="title">
  </div>
  <div class="custom-file mb-3">
    <input name="cover" type="file" class="custom-file-input" id="cover">
    <label class="custom-file-label" for="cover">Upload Cover</label>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" minlength="5" maxlength="255" class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="released_year">Released Year</label>
    <select name="released_year" id="released_year" class="custom-select"></select>
  </div>
  <div class="custom-file mb-3">
    <input name="screenshots" type="file" multiple class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Upload screenshots</label>
  </div>
  <div class="form-group">
    <div id="genre-view"></div>
  </div>
  <div class="form-group">
    <label for="genre">Genre</label>
    <select class="custom-select" id="select-genre" name="select-genre">
      <option disabled selected>Select Genre</option>
      <% genres.forEach(genre => { %>
        <option value="<%= genre.id %>,<%= genre.name %>"><%= genre.name %> </option>
      <% }) %>
    </select>
    <button class="btn btn-primary mt-2" onclick="addGenre()" type="button">Add Genre</button>
    <input id="genre-hidden" type="hidden" name="genre_ids">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input name="price" type="number" class="form-control" id="price">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  const genreIds = new Set()
  const genreNames = new Set()

  function addGenre() {
    let genreValue = document.getElementById('select-genre').value.split(',')
    let genreHidden = document.getElementById('genre-hidden')
    let genreView = document.getElementById('genre-view')

    genreIds.add(+genreValue[0])
    genreNames.add(genreValue[1])

    genreHidden.value = JSON.stringify([...genreIds])

    let genreElem = [...genreNames].map(genre => {
      return `<button type="button" class="btn btn-sm btn-info mr-2 mb-2">
              ${genre}
             </button>`
    }).join('')
    genreView.innerHTML = genreElem
  }

  // Generate Years Array
  const selectYear = document.getElementById('released_year')
  const now = new Date().getUTCFullYear()
  const years = Array(now - (now - 30)).fill('').map((v, idx) => now - idx)
  const yearOptions = years.map(year => {
    return `<option value="${year}">${year}</option>`
  }).join('')

  selectYear.innerHTML = yearOptions
</script>

<%- include('../partials/footer') %>
